<!-- Card -->
<edi-action-card #card *ngIf="isCardShow" [rec]="selectedRec" (onDel)="onDel($event)" (onSave)="onSave($event)" (onCancel)="onCancel($event)"></edi-action-card>

<edi-action-log #log *ngIf="isLogShow" (onBack)="logOnBack($event)"></edi-action-log>

<!-- List -->
<div class="list" [hidden]="isCardShow || isLogShow">

    <!-- Filte, Menu -->
    <div class="rs-toolbar ui-g-12 ui-g-nopad">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" icon="ui-icon-filter-list" label="{{ 'COMMON.MENU.FILTER' | translate}}" (click)="opFilter.toggle($event)"></button>
                <button pButton type="button" label="{{ 'COMMON.MENU.LOG' | translate }}" class="rs-toolbar-button" (click)="isLogShow = true"></button>
                <button pButton type="button" class="rs-toolbar-button" label="{{ 'COMMON.MENU.BACK' | translate }}" (click)="cancel()"></button>
            </div>
        </p-toolbar>

        <p-toolbar class="rs-filter-summary">

            <div class="ui-toolbar-group-left">
                <button pButton type="button" icon="ui-icon-refresh" (click)="onFilterSubmit()"></button>

                <button pButton type="button" iconPos="right" *ngFor="let item of getActiveFilters()" class="rs-filter-summary-item blue-grey-btn"
                    label="{{ filterFormLabels[item.control_name] | translate }} : {{ checkDate(item.control_value) ? (item.control_value | date:'dd.MM.yyyy') : (item.control_value) }} "
                    icon="ui-icon-close" (click)="filterForm.controls[item.control_name].reset()">
                </button>
            </div>
        </p-toolbar>

        <p-overlayPanel #opFilter [style]="{ 'width':'400px' }">

            <form novalidate (ngSubmit)="onFilterSubmit()" [formGroup]="filterForm">
                <div class="ui-g form-group" style="margin-top: 10px;">

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input type="text" pInputText style="width: 100%;" formControlName="code">
                            <label>{{'COMMON.FIELD.CODE' | translate}}</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <input type="text" pInputText style="width: 100%;" formControlName="name">
                            <label>{{'COMMON.FIELD.NAME' | translate}}</label>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <span class="md-inputfield">
                            <p-autoComplete formControlName="isImport" [dropdown]="true" rsAutoComplete [dataList]="filterIsImportItems">
                            </p-autoComplete>
                            <label>{{'EDI.ACTION.FIELD.IS_IMPORT' | translate}}</label>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <button pButton type="submit" label="{{ 'COMMON.MENU.FILTER' | translate }}" (click)="opFilter.hide($event)"></button>
                    </div>

                </div>
            </form>
        </p-overlayPanel>
    </div>

    <!-- Liste -->

    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ">
            <p-dataTable #list id="list" [loading]="loading" scrollable="true" [rows]="50" [paginator]="true" [pageLinks]="10" scrollHeight="calc(100vh - 270px)"
                selectionMode="single" (onRowDblclick)="rowDblClick($event)" [value]="recs">
                <p-footer>
                    <span (click)="list.exportCSV()" pButton label="{{'COMMON.GRID.BTN_EXCEL_EXPORT' | translate}}" style="float:left;cursor: pointer;background-color: #ea1e63;margin-left: -5px;
                        margin-top: -7px;"></span>
                    <span>{{'COMMON.GRID.RECORD_COUNT' | translate}}&nbsp; :&nbsp;{{ recs.length }} </span>
                </p-footer>

                <p-column field="isImport" [style]="{ 'width': '60px' }" styleClass="rs-truncate" header="{{'EDI.ACTION.FIELD.IS_IMPORT' | translate}}">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <span [ngStyle]="{color: rowData.isImport ? '#27ae60' : '#2980b9' }">
                            {{ (rowData.isImport ? 'EDI.ACTION.IMPORT' : 'EDI.ACTION.EXPORT') | translate }}
                        </span>
                    </ng-template>
                </p-column>

                <p-column field="code" [style]="{ 'width': '100px' }" header="{{'COMMON.FIELD.CODE' | translate}}"></p-column>
                <p-column field="name" [style]="{ 'width': '200px' }" styleClass="rs-truncate" header="{{'COMMON.FIELD.NAME' | translate}}"></p-column>
                <p-column field="desc" [style]="{ 'width': '300px' }" styleClass="rs-truncate" header="{{'COMMON.FIELD.DESC' | translate}}"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>